extends layout

block content
	h1 Handlebars Search
	form.search-form(method="post" action="/search")
		input(type="text" name="languages" placeholder="Programming languages")
		input(type="submit")

	div#results